@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    background-color: #CDF6E4;
}

header {
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
    height: 120px;
    overflow: hidden;
}

h2{
    font-size: 3em;
    letter-spacing: 4px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 0;
    margin-top:2px;
    color: #70578B;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

h3 {
    font-family: 'Potta One', cursive;
    margin-bottom: 20px;
    color: #70578B;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

button {
    margin-top: 10px;
    width: auto;
    height: 40px;
    font-size: 1.5em;
    font-family: 'Dosis', sans-serif;
    background-color: #E4CDF6;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    color: #70578B;
    border: none;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}



.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
   
}

.square {
    width: 160px;
    height: 160px;
    margin-top: 0;
    background-color: #E4CDF6;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.markX, .markO {
    margin-top: 20px;
    text-align: center;
    font-family: 'Potta One', cursive;
    font-size: 5em;
    padding-bottom: 10px;
    color: #70578B;
}

div:hover, button:hover {
    cursor: pointer;
    transform:scale(1.03)
}
button:hover{
    transform: scale(1.3);
}

button:focus {
    outline: none;
}

@media only screen and (max-width: 600px){
    body{
        width:100%;
    }
    header, footer {
        margin-left: 65px;
    }

}

@media only screen and (max-width: 320px){
    body{
        width: 100%;
        flex-direction: column;
    }

    header{
        margin-left: 120px;
        width: 300px;
        overflow:visible;
    }
    h2,h3 {
        width: 80%;
    }
    .container {
        margin-top: 100px;
    }
    footer {
       margin-left: 160px;
    }
}