@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}

header {
    text-align: center;
    height: 120px;
    overflow: hidden;
}

h2{
    font-size: 2.5em;
    font-family: 'Potta One', cursive;
    margin-bottom: 0;
    margin-top:2px;
}

h3 {
    font-family: 'Potta One', cursive;
    margin-bottom: 20px;
}

button {
    margin-top: 40px;
    width: 70px;
    height: 40px;
    font-family: 'Potta One', cursive;
}



.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    overflow: hidden;
}

.square {
    width: 160px;
    height: 160px;
    margin-top: 0;
    border: 1px solid black;
    background-color: bisque;
    text-align: center;
    overflow: hidden;
}

.markX, .markO {
    margin-top: 40px;
    text-align: center;
    font-family: 'Potta One', cursive;
    font-size: 4em;
    padding-bottom: 10px;
}

div:hover, button:hover {
    cursor: pointer;
}

